.signout {
    position: fixed;
    top: 5px;
    right: 5px;
}

.faqs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.faqs-inner {
    width: 820px;
    margin: 20px 80px;
    background: #f8f9fa;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.faqs-inner .input-group-text {
    width: 91.58px;
}

.faqs-inner a {
    text-decoration: none !important;
}

.faqs-inner textarea.form-control {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.faqs-container {
    padding: 0px 20px;
}

.faqs-container .table-container {
    width: 820px;
    margin: 20px 80px;
    background: #f8f9fa;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
}

.faqs-container table {
    text-align: left;
}

.faqs-container table td,
.faqs-container table th {
    padding: 4px 8px;
}

.faqs-container table tbody tr:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.faqs-container table tr:not(:last-child) {
    border-bottom: solid 1px lightgray;
}

.filter-container {
    width: 820px;
}

.filter-container button {
    border-radius: 10px;
    box-shadow: none;
    width: 70px;
    font-weight: 600;
}

.filter-container button.btn-secondary {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: black;
}

.filter-container .selected {
    background-color: #abb0b4 !important;
    border-color: #abb0b4 !important;
    color: white !important;
}

.filter-container button:active,
.filter-container button:focus,
.filter-container button:hover {
    box-shadow: none !important;
}

.filter-container button.btn-primary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.filter-container button.btn-secondary:active,
.filter-container button.btn-secondary:focus,
.filter-container button.btn-secondary:hover {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: black;
}

.filter-container button.btn-secondary:not(:last-child) {
    margin-right: 5px;
}

.filter-container input,
.filter-container input:focus,
.filter-container input:active {
    border: none;
    outline: none;
}

.filter-container input {
    flex: 2;
    margin-right: 10px;
    padding: 2px 8px;
    background-color: #e9ecef;
    border-radius: 10px;
}

.filter-container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

.filter-container input:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

.filter-container input.dark::-webkit-search-cancel-button {
    filter: invert(1);
}

.highlight {
    background-color: yellow;
}