.reference-guides-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.reference-guides-inner {
    width: 820px;
    margin: 20px 80px;
    background: #f8f9fa;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.reference-guides-inner .input-group-text {
    width: 77.33px;
}

.reference-guides-inner a {
    text-decoration: none !important;
}

.reference-guides-container {
    padding: 0px 20px;
}

.reference-guides-container .table-container {
    width: 820px;
    margin: 20px 80px;
    background: #f8f9fa;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
}

.reference-guides-container table {
    text-align: left;
}

.reference-guides-container table td,
.reference-guides-container table th {
    padding: 4px 8px;
}

.reference-guides-container table tbody tr:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.reference-guides-container table tr:not(:last-child) {
    border-bottom: solid 1px lightgray;
}